#carouselExampleFade p{
    font-size: 16px;
    font-family: "Georgia";
}
body{
    background-color: whitesmoke;
}

#welcomeText {
    position: absolute;
    top: 10%;
    color:firebrick;
    left: 10%;
    font-size: 25px;
    animation:welcome 2s;
}
@keyframes welcome {
    0%,25%{
        transform:  rotateY(180deg) scale(2);
        color:navy;
    }
    50%{
        transform:  rotateX(360deg) scale(0.5);
        color:darkcyan;
    }
    75%{
        transform:  rotateY(360deg) scale(2);
        color:maroon;
    }
100%{
    transform:  rotateX(360deg) scale(1);
    color:firebrick;
}
}
#followlinks a,#footer a{
    display: block;
    font-size: 14px;
    color:darkslategrey;
}
#footer{
    background-color: darkslategrey;
    padding:10px;
}
#footer a{
    color:whitesmoke;
}
#footer a:hover{
    color:cornsilk;
    text-decoration: none;

}
#followlinks a:hover{
    display: block;
    color:black;
    text-decoration: none;
}
#footer p{
    font-size: 20px;
    font-family: chiller;
    color:whitesmoke;;
}
#carousel p{
    text-transform: capitalize;
}
#footer h6{
    color:navajowhite;
}
img{
    box-shadow: 0 0 10px black;
    border: 1px solid white;
}
#gallery-images h1{
    font-family: Chiller;
}
#gallerycarousel,#stopSlideShow{
    display: none;
}
#contact a{
 text-decoration: none;
display: block;
}
#contact{
    margin:auto;
}
#contactcard{
    margin-top: 5%;
}
#collapseMyWorks a{
    text-decoration: none;
    color:teal;
    font-weight: bold;
}
#collapseMyWorks a:hover{
    text-decoration: none;
    color:black;
}